@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base body styles*/
body {
    background-color:goldenrod;
    font-family: "Poppins", sans-serif;
    color: #000;
    background-image: linear-gradient(255deg, goldenrod 20%,black);
}

/* The header styling */
/* header {
    text-align: center;
} */

/* Set the headings */
h1, h2, h3, h4 {
    /* font-family: "Sigmar", sans-serif; */
    text-align: center;
}

img {
    max-width: 100%;
}

/* Hero section */
#hero , footer {
    text-align: center;
    background-color: #007CBA;
    padding: 20px;
    margin: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#hero img {
    width: 400px;
    max-width: 100%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

/* Bio Section */
#bio {
    text-align: center;
    
}

/* Hobbies Section */
#hobbies {
    text-align: center;
}

#hobbies h2 {
    font-style: italic;
}

#hobbies ul {
    list-style-type: none;
}

#hobbies ul li:nth-child(even) {
    color: #fff;
}

#hobbies ul li:last-child {
    font-style: italic;
    font-weight: bold;
}

/* Gallery */

#gallery {
    padding: 20px;
    margin: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    background-color: #007CBA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    /* ADD THESE TO PROPERLY CENTER IMAGES */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* centers left-right */
    /* align-items: center;       /* centers top-bottom */
    /* flex-direction: column; */
    /* gap: 20px; */
}

#gallery img {
    max-width: 100%;   /* prevents huge images from stretching */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    /* #gallery { /*attributes derived from hero section*/
    /* text-align: center; */
    /* background-color: #007CBA; */
    /* padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px; */
}

#gallery figure {
    text-align: center;
    font-style: italic;
/*     
    display: flex;
    
    flex-direction: row;
    justify-content: center; */
}

#gallery hr {
    color: #fff
}

/* ARTICLE */

#lit { /*theme attributes*/
    background-color: #007CBA;
    padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#lit div p:first-child::first-letter { /* Only done to FIRST letter of FIRST paragraph*/
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #dbdbdb 1px 5px;
    background-color: #fff;
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    border: 3px outset goldenrod;
    box-shadow: 2px 2px 5px;
}

/* EMBEDDED MEDIA / VIDEO */

#video {
    background-color: #007CBA;
    padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

#videowrapper iframe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

/* CONTACT FORM */
#contact {
    background-color: #007CBA;
    padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#formElements {
    display: grid;
    row-gap: .5em;
    margin: .5rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: goldenrod;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    max-width: 350px;
    width: 50%;
    justify-self: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

#contact button a:hover {
    filter: invert(100%);
    transition-duration: .25s;
    
}

#netlifyText {
    text-align:right;
    padding: 10px;
    margin: 16px;
}

@media (min-width: 1024px) {

    #gallery {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery h2, #gallery h4 {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    #gallery hr {
        display:none;
    }


}