@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base body styles*/
body {
    background-color:goldenrod;
    font-family: "Poppins", sans-serif;
    color: #000;
}

/* The header styling */
header {
    text-align: center;
}

/* Set the headings */
h1, h2, h3, h4 {
    font-family: "Sigmar", sans-serif;
    text-align: center;
}

img {
    max-width: 500px;
}

/* Hero section */
#hero , footer {
    text-align: center;
    background-color: #007CBA;
    padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
}

#hero img {
    width: 400px;
    max-width: 100%;
    
}

/* Bio Section */
#bio {
    text-align: center;
}

/* Hobbies Section */
#hobbies {
    text-align: center;
}

#hobbies h2 {
    font-style: italic;
}

#hobbies ul {
    list-style-type: none;
}

#hobbies ul li:nth-child(even) {
    color: #fff;
}

#hobbies ul li:last-child {
    font-style: italic;
    font-weight: bold;
}

/* Gallery */

#gallery { /*attributes derived from hero section*/
    text-align: center;
    background-color: #007CBA;
    padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    font-style: italic;
}

#gallery hr {
    color: #fff
}

/* ARTICLE */

#lit { /*theme attributes*/
    background-color: #007CBA;
    padding: 20px;
    border: 10px solid #5c9fbf;
    border-radius: 40px;
    color: #fff;
    margin: 20px;
}

#lit div p:first-child::first-letter { /* Only done to FIRST letter of FIRST paragraph*/
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #dbdbdb 1px 5px;
    background-color: #fff;
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    border: 3px outset goldenrod;
    box-shadow: 2px 2px 5px;
}